<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
<title th:text="${_userPrincipal.getName()}+' '+ page"></title>
</head>
<body>
<!-- header nav-->
<nav class="navbar navbar-expand-lg text-white " style="background-color: #343A40;">
    <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto ">
                <span th:text="${_userPrincipal.getEmail()}" class="fw-bold text-white " style="padding-right: 5px">  </span>
                <span> with roles:
         <span class="fw-normal"  >
            <th:block th:each="role : ${_userPrincipal.getRoleSet()}">
                  <span th:switch="${role.getName()}">
                    <span th:case="'ROLE_ADMIN'">ADMIN</span>
                    <span th:case="'ROLE_USER'">USER</span>
                    <span th:case="'ROLE_SUPER_MEN'">SUPER MEN</span>
                  </span>
            </th:block>
          </span>
        </span>
            </div>
            <div class="navbar-nav ms-auto ">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn  text-light-emphasis"   value="Logout">
                </form>
            </div>
        </div>
    </div>
</nav>
<!-- header nav-->


<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-2 .col-sm-6" style="margin-top: 10px; ">
            <!-- Left menu -->
            <style ENGINE="text/css">
                a.left_menu{ width: 112%; margin-left: -14px;}
                a.left_menu{text-decoration:none;}
                a.act{background-color: #0D6EFD; color: white;}
            </style>


            <div id="msgText">
    <span th:switch="${_userPrincipal.getName()}">
        <span th:case="'Admin'">
            <a href="/admin"  class="btn btn-outline-primary border border-white text-start left_menu" >Admin</a>
            <br>
             <a href="/user"   class="btn btn-outline-primary border border-white text-start left_menu" >User</a>
        </span>
        <span th:case="'User'">
            <a href="/user"   class="btn btn-outline-primary border border-white text-start left_menu" >User</a>
        </span>
    </span>
            </div>

            <script type="text/javascript">
                try{
                    var el=document.getElementById('msgText').getElementsByTagName('a');
                    var url=document.location.href;
                    for(var i=0;i<el.length; i++){
                        if (url==el[i].href){
                            el[i].className += ' act';
                        };
                    };
                }catch(e){}
            </script>
            <!-- Left menu -->
        </div>

        <div class="col-lg-10 .col-sm-6   bg-body-tertiary" style="height: 100vh; margin-bottom: -50px; padding-top: 10px; padding-left :20px " >
            <div class="header fs-1">
                User information-page
            </div>


            <div class="tab-content" id="nav-tabContent ">
                <div class="tab-pane fade show active border border border border-top-0" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="alert alert-secondary fs-6 text-black fw-bold"  role="alert" style="background-color: #F7F7F7">
                        About user
                    </div>
                    <div class="wrapper" style="padding:17px 20px 30px; background-color: white; margin-top: -17px ">
                        <table class="table table-striped table-group-divider table table-borderless "
                               style="border-top-color:#E6E9EC;  background-color: white; ">
                            <thead>
                            <tr class="border-bottom">
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" ><span class="" style="font-weight: normal;" th:text="${_userPrincipal.getId()}"></span></th>
                                <td class="text-lowercase"  th:text="${_userPrincipal.getName()}"> </td>
                                <td class="text-lowercase"  th:text="${_userPrincipal.getLastName()}"> </td>
                                <td th:text="${_userPrincipal.getAge()}"> </td>
                                <td th:text="${_userPrincipal.getEmail()}"></td>
                                <td class="text-uppercase" >
                                    <th:block th:each="role : ${_userPrincipal.getRoleSet()}">
                                        <span th:switch="${role.getName()}">
                                          <span th:case="'ROLE_ADMIN'">ADMIN</span>
                                          <span th:case="'ROLE_USER'">USER</span>
                                          <span th:case="'ROLE_SUPER_MEN'">SUPER MEN</span>
                                        </span>
                                    </th:block>
                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>




</body>
</html>
